body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
}


button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.rectangle {
  position: absolute;
  width: 100px;
  height: 80px;
  background-color: red;
  transition: all 0.4s ease;
}
